*{
    padding: 0;
    margin: 0;
    outline: 0;
}
body{
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;

}
h1,h2,h3,h4,h5,h6,p,ul,li,span{
    padding: 0;
    margin: 0;
}
a,a:hover{
    text-decoration: none;
}

.navbar-nav .nav-item .nav-link{

 color: #4e4e4e;
    padding: 10px 13px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
  
}
.navbar-nav .nav-item .nav-link.active{
    color:#1abb9c;
   
}

.menu{
    background-color: #e6e6e6;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #1abb9c;
}

#banner_part{
    background: url(../image/shadow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.overlay_ban{
    background: rgba(0,0,0,0);
    padding: 190px 0px;
        
}

.banner_content{
    text-align: center;
}
.banner_content h4{
     font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #f3f3f3;
}
.banner_content p{
    font-weight: 700;
    font-size: 32px;
    color: #a8a8a8;
    padding-top: 40px;
    padding-bottom: 50px;
}
.banner_content a{
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    background-color: #3f8dbf;
    padding: 16px 40px;
    border-radius: 5px;
}

.borders{
    padding: 0px  30px;
      padding-top: 50px;
}
.service_content{
    text-align: center;
}

.service_content h5{
    font-size: 18px;
    font-weight: 700;
    color: #4e4e4e;
    margin-top: 25px;
    margin-bottom: 15px;
}
.service_content p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #616161;
}
.service_content span{
    height: 84px;
    width: 84px;
    background-color:#9d9abf;
    border-radius: 50%;
      display: block;
    line-height: 84px;
    margin: auto;
}
.yess span{
    background-color:#d2514b;
  
}
.nope span{
        background-color:#66a3c6;
}
.yesno span{
    background-color:#e8c04f;
}
.borders hr{
  border-bottom: 2px solid #dcdcdc;
margin-top: 50px;    
}
.header_text h4{
    font-size: 20px;
    font-weight: 700;
     font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 25px;
}

.gallery_part{
    padding: 50px 0px;
}
.gallery_img h5{
       font-size: 18px;
    font-weight: 700;
    color: #4e4e4e;
    margin-top: 20px;
    margin-bottom: 5px;
}
.gallery_img p{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #616161;
    
    
}
.gallery_img span p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color:#a8a8a8;
    padding-bottom: 22px;

}
.quote_allcontent{
    padding: 50px 0px;
    background-color: #efefef;
}
.quote_content{
    text-align: center;
  
}
.quote_content span{
      color: #dcdcdc;
        font-size: 35px;
}
.quote_content p{
    font-size: 20px;
    font-weight: 400;
    color: #a1a1a1;
     width: 70%;
    margin: auto;
    margin-top: 15px;
    
}
.footer_content h4{
   font-size: 20px;
    font-weight: 700;
     font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px; 
    color:#6c6c6c;
}
.footer_content p{
        font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
}
.text_contact{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
    margin-bottom: 30px;
}
.pad{
    padding-left: 0px;
}
footer span{
    color:#a89574;
}
.marginn{
    margin-bottom: 20px;
}
.newpad{
    padding-top: 70px;
    
}

.footer_bottom p{
            font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
    padding-top: 20px;
    padding-bottom: 40px;
}
footer{
    background-color: #1b1b1b;
}
.newpad hr{
    border-bottom: 2px solid #cacaca;
}
